/* Layout styles */
.app-layout {
  min-height: 100vh;
}

.app-content {
  padding: 0 50px;
  margin-top: 20px;
}

/* RootLayout styles */
.app-root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
} 